{% extends 'store/main.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <form id="order-info" class="needs-validation" novalidate>
            <div class="form-row" id="user-info">
                <div class="col-md-6 mb-3">
                    <label for="name">Nombre: </label>
                    <input type="text" class="form-control" id="name" name="name" required>
                    <div class="valid-feedback">
                        Ingrese su nombre!
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="email">Correo: </label>
                    <input type="text" class="form-control" id="email" name="email" required>
                    <div class="valid-feedback">
                        Ingrese su correo!
                    </div>
                </div>
            </div>
            <br />
            <h3 class="shipping-info">Informacion de Envio</h3>
            <div class="form-row shipping-info">
                <div class="col-md-12 mb-12">
                    <label for="address">Direccion: </label>
                    <input type="text" class="form-control" id="address" name="address" required>
                    <div class="invalid-feedback">
                        No valido!
                    </div>
                </div>
            </div>
            <br />
            <div class="form-row shipping-info">
                <div class="col-md-6 mb-3">
                    <label for="state">Estado</label>
                    <input type="text" class="form-control" id="state" name="state" required>
                    <div class="invalid-feedback">
                        No valido!
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="city">Ciudad: </label>
                    <input type="text" class="form-control" id="city" name="city" required>
                    <div class="invalid-feedback">
                        No valido!
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="zip">Postal: </label>
                    <input type="text" class="form-control" id="zip" name="zip" required>
                    <div class="invalid-feedback">
                        No valido!
                    </div>
                </div>
            </div>
        </form>
        <button id="btnSubmit" class="btn btn-secondary btn-lg btn-block" type="submit">Continuar</button>
        <hr />
        <div id="payment-info" class="box-element d-none">
            <small>Paypal Options</small>
            <div id="paypal-button-container"></div>
            <!-- <a id="makePayment" class="btn btn-secondary" href="#" role="button">Pagar</a> -->
        </div>
        <br />
    </div>
    <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <a class="card-link btn btn-outline-secondary" href="{% url 'coronas:cart' %}" role="button"><i
                        class="fas fa-arrow-left"></i>
                    Regresar a carrito</a>
            </div>
            <div class="card-body">
                <h3>Resumen del Pedido</h3>
                <hr />
                <br />
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <th scope="row"><img class="table-img" src="{{item.product.imageURL}}" /></th>
                            <td><span>$</span>{{item.product.price|floatformat:2}}</td>
                            <td>{{item.quantity}}</td>
                            <td><span>$</span>{{item.get_total}}</td>
                        </tr>
                        {% endfor%}
                    </tbody>
                </table>
                <h4>Cantidad Total: {{order.get_cart_items}}</h4>
                <h4>Total Final: <span>$</span>{{order.get_cart_total|floatformat:2}}</h4>
            </div>
        </div>
    </div>
</div>
<script
    src="https://www.paypal.com/sdk/js?client-id=Af2uuIBq2ZK2nT4TC0hOTUZ2m0Sw-ODPGDWy_OwVb0EjID4cRREtl9UdupxF3TZWwTJSK3DI1JjKhT2f&currency=MXN&disable-funding=credit"></script>
<script>
    var total = '{{order.get_cart_total}}';
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({
        style: {
            size: 'responsive',
            color: 'black',
            shape: 'pill',
        },

        // Set up the transaction
        createOrder: function (data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: parseFloat(total).toFixed(2)
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function (data, actions) {
            return actions.order.capture().then(function (details) {
                submitPayment();
            });
        }
    }).render('#paypal-button-container');
</script>
<script type="text/javascript">
    var shipping = '{{order.shipping}}';
    var total = '{{order.get_cart_total}}';
    const forminstance = document.querySelector('#order-info');

    if (shipping == 'False') {
        document.querySelectorAll('.shipping-info').forEach(option => {
            option.classList.add('d-none');
        });
    }

    if (user != 'AnonymousUser') {
        document.getElementById('user-info').innerHTML = '';
    }

    if (shipping == 'True' && user != 'AnonymousUser') {
        document.getElementById('user-info').classList.add('d-none');
        document.querySelectorAll('.shipping-info').forEach(option => {
            option.classList.remove('d-none');
        });
    }

    const continueBtn = document.getElementById('btnSubmit');
    continueBtn.addEventListener('click', (e) => {
        document.getElementById('btnSubmit').classList.add('d-none');
        document.getElementById('payment-info').classList.remove('d-none');
    });

    function submitPayment() {
        var userFormData = {
            'name': null,
            'email': null,
            'total': total
        }

        var shippingFormData = {
            'address': null,
            'city': null,
            'state': null,
            'zipcode': null
        }

        if (shipping != 'False') {
            shippingFormData.address = forminstance['address'].value
            shippingFormData.city = forminstance['city'].value
            shippingFormData.state = forminstance['state'].value
            shippingFormData.zipcode = forminstance['zip'].value
        }

        if (user == 'AnonymousUser') {
            userFormData.name = forminstance['name'].value;
            userFormData.email = forminstance['email'].value;
        }

        console.log('Shipping: ' + JSON.stringify(shippingFormData));
        console.log('User: ' + JSON.stringify(userFormData));

        const csrftoken = Cookies.get('csrftoken');
        fetch('http://127.0.0.1:8000/process_order/', {
            method: 'POST',
            body: JSON.stringify({ 'form': userFormData, 'shipping': shippingFormData }),
            headers: {
                'Content-Type': 'application/json; charset=UTF-8',
                'X-CSRFToken': csrftoken,
            }
        })
            .then((response) => response.json())
            .then((json) => {
                console.log('state: ', json);
                setTimeout(() => { window.location.href = "{% url 'coronas:store' %}" }, 2500);
            });
    }
</script>
{% endblock content %}