{% extends 'store/main.html' %}
{% load static %}

{% block content %}
<div class="row">
    {% for product in products %}
    <div class="col col-xl-3 col-lg-3 col-md-4 col-sm-12 d-flex align-items-stretch">
        <div class="card border-secondary mb-3" style="width: 18rem;">
            <img class="card-img-top" src="{{product.imageURL}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">${{product.price|floatformat:2}}</h5>
                <p class="card-text">
                    {{product.name}}
                </p>
            </div>
            <hr />
            <div class="card-body">
                <button data-toggle="modal" data-target="#modal-{{product.id}}" type="button"
                    class="card-link btn btn-outline-secondary">Ver</button>
                <button data-product="{{product.id}}" data-action="add" type="button"
                    class="card-link btn btn-outline-success update-cart">Agregar</button>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modal-{{product.id}}" role="dialog" aria-labelledby="productinfo" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">{{product.name}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 d-flex align-items-stretch">
                            <img src="{{product.imageURL}}" alt="{{product.id}}" class="rounded img-thumbnail img-size">
                        </div>
                        <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 d-flex align-items-stretch">
                            <p class="desc-text">{{product.description}}</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar</button>
                    <button type="button" class="btn btn-primary">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}