{% extends 'store/main.html' %}
{% load static %}

{% block content %}
<div class="row">
    {% for product in products %}
    <div class="col col-xl-3 col-lg-3 col-md-4 col-sm-12 d-flex align-items-stretch">
        <div class="card border-secondary mb-3" style="width: 18rem;">
            <img class="card-img-top" src="{{product.imageURL}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">${{product.price|floatformat:2}}</h5>
                <p class="card-text">
                    {{product.name}}
                </p>
            </div>
            <hr />
            <div class="card-body">
                <button type="button" class="card-link btn btn-outline-secondary">Ver</button>
                <button type="button" class="card-link btn btn-outline-success">Agregar</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}